# jetbrains
.idea/
*.private.env.json

# build artifacts
build*/

# aws cloudformation packaged template
template.yml

# aws local storage
.docker/dynamodb/
.docker/localstack/

# wire gen files
wire_gen.go
