# gradle
.gradle
build/
bin/

# ides
.idea
.vscode
.zed

# eclipse
.classpath
.project
.settings/
.factorypath

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
.tfplan
