[Unit]
Description=Digital Venue Server
After=network.target

[Service]
WorkingDirectory=/opt/app
ExecStart=/usr/bin/java -jar /opt/app/current/digitalvenue.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
