[Unit]
Description=Digital Venue Server
After=network.target

[Service]
WorkingDirectory=/opt/app/current
ExecStart=bin/server
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
