[Unit]
Description=Digital Venue Server
After=network.target

[Service]
WorkingDirectory=/opt/dvserver/current
ExecStart=/opt/dvserver/current/server-1.0.0/bin/server
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
