[Unit]
Description=Digital Venue Server
After=network.target

[Service]
WorkingDirectory=/opt/dvserver/current
ExecStart=/opt/dvserver/current/server
EnvironmentFile=/opt/dvserver/.env
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
